.wrap-main {
    width: 100%;
    padding: 10%;
    display: flex;
    justify-content: center;
}

.main {
    display: block;
    width: 50%;
}

.interface {
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: antiquewhite;
}

.interface_item {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.interface_form {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
