@use 'scss-reset/reset';

$colorfor: rgb(241, 222, 199);

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 215, 215);
    padding: 5%;
    border-radius: 0 0 10px 10px;
}

.menu-wrap {
    display: flex;
    justify-content: center;
    background-color: $colorfor;
    width: 100%;
    padding: 10%;
    border-radius: 8px;
}

.menu {
    display: flex;
    justify-content: center;
}

.header__title {
    color: black;
    font-size: 25px;
}

.main {
    display: flex;
    width: 100%;
    background-color: white;
}

.nav {
    width: 25%;
    margin: 1%;
    border-radius: 8px;
}

.content {
    width: 75%;
    padding: 3%;
    margin: 1%;
    background-color: $colorfor;
    border-radius: 8px;
}